{{ logstash_log_dir }}/*.log {{ logstash_log_dir }}/*.err {{ logstash_log_dir }}/*.stdout {
        daily
        rotate 7
        copytruncate
        compress
        delaycompress
        missingok
        notifempty
}
